/** GLOBALS **/
$white: #fbfbfb;
$black: #0A0A0A;
$gray: #ecedf2;
$gray_text: #6f6f6f;
$gray_text_light: #bdbec1;
$error: #ff0000;

/** PRIMARY **/
$primary: #006858;
$primary_rgb: 0, 104, 88;
$primary_light:#008d78;
$primary_extra_light:#E5F0EE;

/** SECONDARY **/
$secondary: #efb810;
$secondary_light: #f9db5c;
