@import '../../styles/commons/mixins';
@import '../../styles/commons/containers';

.section_container {
    @include main_container;
    @include section_margins;
    @include flex-column-center;
    justify-content: space-between;
    margin-top: 5rem;
    gap: 3rem;
    height: 40rem;
}

.articles_container {
    @include flex-row-center;
    justify-content: space-between;
    gap: 1.4rem;
}