@import '../../styles/commons/colors';

.loading {
    display: grid;
    place-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    background-color: $white;
    font-size: 2rem;
    font-weight: 700;
}

.loader {
    width: 10rem;
    height: 10rem;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 2px solid $primary;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }
  
  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }